nav {

    .test1 {
        flex-basis: 20%;
    }



    .return_icon,
    .logout_icon {
        img {
            opacity: 0;
        }
    }

    .return_icon {
        background-image: url("../media/return.svg");

        &:hover {
            background-image: url("../media/return_hover.svg");
        }
    }

    .logout_icon {
        background-image: url("../media/logout.svg");

        &:hover {
            background-image: url("../media/logout_hover.svg");
        }
    }
}

