:root {
    --color: var(--dark-turquoise);
    --color-hover: var(--vivid-turquoise);
}

.user_icon:hover,
.user_icon:focus {
    background-image: url("../../media/icons/user_icon_turquoise.svg") !important;
}

main {
    min-height: 100vh !important;
    // max-height: 100vh !important;
    padding-bottom: 60px !important;
    // padding-top: 70px;

    .container {

        .form-container {
            form {
                input[type=text],
                input[type=password],
                input[type=submit] {
                    border-color: var(--color);
                    box-shadow: 0px 0px 5px var(--color-hover);

                    &:focus {
                        box-shadow: 0px 0px 5px 2px var(--color-hover);
                        outline: none;
                    }
                }

                input[type=text],
                input[type=password] {
                    padding-block: 0.5em;
                    padding-inline: 1em;
                }

                input[type=submit] {
                    padding-block: 0.25em;
                    padding-inline: 1.5em;

                    &:hover,
                    &:focus {
                        background-color: var(--color);
                        box-shadow: 0px 0px 5px var(--color-hover);
                    }
                }
            }
        }

        .text_link {
            color: var(--color-hover);

            &:hover {
                color: var(--color-hover) !important;
                text-decoration: underline;
            }
        }
    }
}

footer {
     height: 45px !important;
}

// MEDIA QUERIES ----------
@media only screen and (min-width: 1400px) {
    input[type=text],
    input[type=password] {
        width: max(18.75rem, 100%);
    }
}

@media only screen and (min-width: 992px) {
    div.container {
        width: 75% !important;
    }
}

@media only screen and (min-width: 576px) {
    .form-container {
        form {
            input[type=text],
            input[type=password] {
                padding-inline: 1.5em;
            }
        }
    }
}
