@import "style.css";

// HEADER ----------
header,
footer {

    a:hover {
        color: var(--dark-pink);
    }
}

header {
    overflow:hidden;
    .active {
        color: var(--dark-pink);
    }

    .logo:hover {
        color: var(--vivid-pink);
    }

    .user_btn {
        position: relative;
            top: 4px;

        .user_name {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            color: var(--dark-pink) !important;
        }
    }

    button,
    .user_icon,
    .user_icon_connected {
        background: none;
        border: none;
        padding: 0;

        &:hover,
        &:focus {
            color: var(--dark-pink);
        }
    }

    .user_icon {
        background: none;
        background-image: url("../media/user_icon.svg");
        border: none;
        padding: 0;

        &:hover,
        &:focus {
                background-image: url("../media/user_icon_pink.svg");
        }

        img {
            opacity: 0;
        }
    }

    .user_icon_connected {
        background: none;
        background-image: url("../media/user_icon_pink_connected.svg");
        border: none;
        padding: 0;

        img {
            opacity: 0;
        }

        &:hover,
        &:focus {
            background-image: url("../media/user_icon_pink_connected_hover.svg");
        }
    }

    .dropdown-menu {
        background-color: var(--bg-color);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0px 0px 10px 10px;

        .dropdown-item {
            color: var(--white);

            &:hover {
                background-color: var(--bg-color);
                color: var(--dark-pink);
            }
        }

        hr {
            background-color: var(--white) !important;
            height: 2px;
            opacity: 0.5;
        }
    }

    .dropdown-right {
        border-radius: 10px 0px 10px 10px !important;
    }
}


// FOOTER ----------
footer {

    .wrapper {
        margin-top: 112px;
        margin-bottom: 242px;
        max-width: 100%;
        overflow: hidden;
      }

      .marquee {
        animation: marquee 20s linear infinite;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;

        @keyframes marquee {
            0% {
                transform: translate3d(-50%, 0, 0);
            }
            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        span {
            // display: inline-block;
            letter-spacing: 0.2rem;
            font-weight: 300;

            .dark_pink {
                color: var(--dark-pink);
                font-weight: 500;
            }

            .dark_blue {
                color: var(--dark-blue);
                font-weight: 500;
            }
        }
    }

    .social_media_icons {
            margin-bottom: 150px;

        img {
            max-height: 35px;
        }
    }
}


// MEDIA QUERIES ----------

@media only screen and (min-width: 1700px) {
    nav {
        padding-inline: 5vw;

        .nav_center-logo{
            padding-inline: 2vw;

        }
    }
}

@media only screen and (min-width: 1400px) {
    .nav_burger,
    .nav_lg {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .nav_burger,
    .nav_xxl {
        display: none;
    }

    .nav_center-logo {
        margin-left: 4rem;
    }

    .nav_lg {
        margin-left: 1rem;
    }
}

// Magie noire: POUR JULIEN :D    <-------------------------------
// @media only screen and (max-width: 991px) {
//  nav {

//     ul {
//         gap: clamp(0.5rem, 2vw, 1rem) !important;
//         li,
//         li.ms-2 {
//             margin: 0 !important;
//             display: inline-block;
//         }

//         .nav_center-logo {
//             margin-inline: clamp(1rem, 2rem, 4rem) !important;
//         }
//     }

// }

// }

@media only screen and (min-width: 768px) {
    .social_media_icons {
        margin-bottom: 250px !important;
    }
}

@media only screen and (max-width: 768px) {
    .nav_lg,
    .user_btn {
        display: none;
    }

    nav {
        padding-inline: 0;

        ul:first-child {
            display: flex;
            justify-content:flex-start !important;
        }

        .nav_center-logo {
            margin-left: 0;

            a {
                padding: 0 !important;

                .title,
                .title_reflection {
                    font-size: clamp(1.25rem, 3vw, 3rem);
                    letter-spacing: clamp(0.15rem, 0.25rem,0.375rem);
                }

                .title {
                    line-height: 55%;
                    position: relative;
                        top: 10px;
                }

                .title_reflection {
                    transform: scale(1, -1);
                    line-height: 40%;
                }

                .festival {
                    font-size: clamp(1rem, 1.6vw, 1.5rem);
                    font-weight: 100;
                    position: relative;
                        top: clamp(0.25em, 0.75em, 1em);
                }
            }
        }
    }

    footer {
        .social_media_icons {

            margin-bottom: 150px;
        }
    }
}
