:root {
    --bg-color: #020402;
    --grey: #9d9d9d;
    --white: #ffffff;
    --dark-blue: #0058b9;
    --vivid-blue: #017aff;
    --dark-turquoise: #00afc2;
    --vivid-turquoise: #00e6ff;
    --dark-pink: #8e0089;
    --vivid-pink: #f500ed;
}

body,
html {
    background-color: var(--bg-color);
    // background-color: var(--grey);
    color: var(--white);
    width: calc(100vw - (100vw - 100%));

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ::-moz-selection {
        color: var(--bg-color);
        background: var(--white);
    }

    ::selection {
        color: var(--bg-color);
        background: var(--white);
    }
}

// TYPOGRAPHY
h1,
.h1 {
    font-family: "ethnocentric", sans-serif;
    font-size: 3.125rem;
    letter-spacing: 1.2rem;
}

h2,
.h2 {
    font-family: "ocr-b-std", monospace;
    font-size: 2.75rem;
}

h3,
.h3 {
    font-family: "ethnocentric", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.048rem;
}

a,
.link {
    color: var(--white);
    font-family: "termina", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-decoration: none;

    &:hover {
        font-weight: 500 !important;
    }
}

button {
    font-family: "ethnocentric", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
}

label {
    font-family: "ethnocentric", sans-serif;
    font-size: 1.375rem;
    font-weight: 200;
    letter-spacing: 0.034rem;
}

p,
span {
    font-family: "termina", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.025rem;
    line-height: 1.875rem;
}


// HEADER - NAVIGATION MENU
nav {
    background: linear-gradient(var(--bg-color) 60%, transparent);
    padding-inline: clamp(20px, 2vw, 8.75rem);
    padding-top: 1.625rem;
    height: clamp(5rem, 7rem, 8rem);

    // LOGO
    .logo{
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-inline: 1rem;
    }

    .title,
    .title_reflection {
        font-family: "ethnocentric", sans-serif;
        font-size: clamp(1.5rem, 3vw, 3rem);
        font-weight: 200;
        letter-spacing: clamp(0.15rem, 0.5rem, 0.75rem);
        white-space: nowrap;
    }

    .title {
        line-height: 55%;
        position: relative;
            top: 10px;
    }

    .title_reflection {
        opacity: 0.1;
        transform: scale(1, -1);
        line-height: 40%;
    }

    .festival {
        font-family: "termina", sans-serif;
        font-size: clamp(1rem, 1.6vw, 1.5rem);
        font-weight: clamp(200, 400, 500);
        letter-spacing: 0.036rem;
        position: relative;
            top: clamp(0.25em, 0.75em, 1em);
    }
}

// FOOTER
footer {

    text-align: center;

    #copyright {
        position: absolute;
        bottom: 25px;
        left: 50%;

        transform: translate(-50%,-50%);
    }
}
