:root {
  --bg-color: #020402;
  --grey: #9d9d9d;
  --white: #ffffff;
  --dark-blue: #0058b9;
  --vivid-blue: #017aff;
  --dark-turquoise: #00afc2;
  --vivid-turquoise: #00e6ff;
  --dark-pink: #8e0089;
  --vivid-pink: #f500ed;
  --color: #8e0089;
  --color-hover:#f500ed;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--white);
  min-height: 100vh;
  position: relative;
  width: calc(100vw - (100vw - 100%));
}
body ul,
html ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body ::-moz-selection,
html ::-moz-selection {
  color: var(--bg-color);
  background: var(--white);
}
body ::-moz-selection, html ::-moz-selection {
  color: var(--bg-color);
  background: var(--white);
}
body ::selection,
html ::selection {
  color: var(--bg-color);
  background: var(--white);
}

h1,
.h1 {
  font-family: "ethnocentric", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.038rem;
}

h2,
.h2 {
  font-family: "ocr-b-std", monospace;
  font-size: 1.375rem;
}

h3,
.h3 {
  font-family: "ethnocentric", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.031rem;
}

a,
li,
.link {
  color: var(--white);
  font-family: "termina", sans-serif;
  font-size: 1rem;
  font-weight: 500 !important;
  letter-spacing: 0.03rem;
  text-decoration: none;
}
a:hover,
li:hover,
.link:hover {
  font-weight: 500 !important;
}

button,
input[type=submit] {
  font-family: "ethnocentric", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

button {
  letter-spacing: 1.5rem;
}

input[type=submit] {
  letter-spacing: 0.1rem;
}

label {
  font-family: "ethnocentric", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 0.027rem;
  white-space: nowrap;
}

p,
span,
textarea,
input[type=text] {
  font-family: "termina", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
}

p,
span,
textarea {
  line-height: 1.875rem;
}

.active_link,
a:hover,
button:focus,
.link:hover,
.dropdown-item:hover,
.dropdown_connected {
  color: var(--color) !important;
}

.user_name,
.user_name:hover,
.dropdown_connected:hover,
.logo:hover {
  color: var(--color-hover) !important;
}

li.user_name,
li.user_name:hover {
  cursor: default !important;
}

#menu_burger:hover .menu_bar,
#menu_burger:focus .menu_bar,
#menu_burger:active .menu_bar,
.open_menu .menu_bar {
  background-color: var(--color) !important;
}

nav {
  background: linear-gradient(var(--bg-color) 60%, transparent);
  padding-inline: clamp(20px, 2vw, 8.75rem);
  padding-top: 1.625rem;
  height: 7rem;
}
nav .logo {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  padding-inline: 1rem;
}
nav .title,
nav .title_reflection {
  font-family: "ethnocentric", sans-serif;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 200;
  letter-spacing: 0.5rem;
  white-space: nowrap;
}
nav .title {
  line-height: 55%;
  position: relative;
  top: 10px;
}
nav .title_reflection {
  opacity: 0.1;
  transform: scale(1, -1);
  line-height: 75%;
}
nav .festival {
  font-family: "termina", sans-serif;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  font-weight: 400;
  letter-spacing: 0.036rem;
  position: relative;
  top: 0.75em;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.border_box {
  background-color: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding-inline: 3rem;
  padding-block: 1rem;
}
.border_box form input[type=text],
.border_box form input[type=password],
.border_box form input[type=submit],
.border_box form textarea {
  background-color: var(--bg-color);
  border-radius: 10px;
  border-width: 1px;
  color: var(--white);
}

.page_title {
  max-width: 500px;
}
.page_title .title_decoration {
  background-color: var(--white);
  height: 2px;
  width: 100%;
  position: relative;
}
.page_title .title_decoration .circle {
  background-color: var(--white);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-left: 7.5px;
  position: absolute;
  left: 0%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1200px) {
  .title_reflection {
    line-height: 45% !important;
  }
  .page_title .title_decoration {
    height: 3px;
  }
  .page_title .title_decoration .circle {
    margin-left: 10px;
    height: 20px;
    width: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .page_title {
    max-width: 600px;
  }
}
@media only screen and (min-width: 768px) {
  h1,
  .h1 {
    font-family: "ethnocentric", sans-serif;
    font-size: 3.125rem;
    letter-spacing: 0.078rem;
  }
  h2,
  .h2 {
    font-family: "ocr-b-std", monospace;
    font-size: 2.75rem;
  }
  h3,
  .h3 {
    font-family: "ethnocentric", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.048rem;
  }
  label {
    font-family: "ethnocentric", sans-serif;
    font-size: 1.375rem;
    font-weight: 200;
    letter-spacing: 0.034rem;
  }
  nav {
    height: 100px !important;
  }
  main {
    padding-top: 100px !important;
  }
  main .border_box {
    border: 3px solid var(--color);
    box-shadow: inset 0px 0px 5px var(--color-hover), 0px 0px 5px var(--color-hover);
  }
}/*# sourceMappingURL=styles.css.map */