@import "../styles.css";

:root {
    --color: var(--dark-blue) !important;
    --color-hover: var(--vivid-blue) !important;
}

.modal-content,
.popup_message {
    background-color:  var(--dark-pink) !important;
    color: var(--white);
    p {
        margin-bottom: 0px !important;
    }
}

.admin_nav {
    padding-top: 1rem;

    .li_space {
        flex-basis: 20%;
    }

    .return_icon,
    .logout_icon {
        img {
            opacity: 0;
        }
    }

    .return_icon {
        background: none;
        background-image: url("../../media/icons/return.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    a:hover {
        color: var(--color);

        .return_icon {
            background-image: url("../../media/icons/return_hover.svg");
        }

        .logout_icon {
            background-image: url("../../media/icons/logout_hover.svg")
        }
    }

    .logout_icon {
        background: none;
        background-image: url("../../media/icons/logout.svg");
        background-repeat: no-repeat;
    }
}

main {
    padding-bottom: 60px;

    .general_button {
        width: 100%;
        border: 2px solid var(--color-hover) !important;
    }
    .general_button {

        background-color: var(--bg-color);
        border-radius: 10px;
        box-shadow: 0px 0px 5px var(--color-hover);
        color: var(--white);
        flex-shrink: 1;
        padding-block: 0.5em;
        padding-inline: 1em;

        &:hover {
            background-color: var(--color-hover);
            color: var(--white) !important;
        }
    }

    .form-container {
        border: 3px solid var(--color);
        box-shadow: 0px 0px 10px var(--color-hover);

        form {
            input[type=text],
            input[type=password],
            input[type=submit],
            textarea {
                border-color: var(--color);
                box-shadow: 0px 0px 5px var(--color-hover);

                &:focus {
                    box-shadow: 0px 0px 5px 2px var(--color-hover);
                    outline: none;
                }
            }

            input[type=text],
            input[type=password] {
                padding-block: 0.5em;
                padding-inline: 1em;
            }

            input[type=submit] {
                padding-block: 0.25em;
                padding-inline: 1.5em;

                &:hover,
                &:focus {
                    background-color: var(--color);
                    box-shadow: 0px 0px 5px var(--color-hover);
                }
            }
        }
    }
}

footer {
    height: 45px !important;
}
