.admin_nav {
    .li_space {
        flex-basis: 20%;
    }

    .return_icon,
    .logout_icon {
        img {
            opacity: 0 !important;
        }
    }

    .return_icon {
        background: none;
        background-image: url("../../media/icons/return.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    a:hover {
        color: var(--dark-blue) !important;
        .return_icon {
            background-image: url("../../media/icons/return_hover.svg");
        }

        .logout_icon {
            background-image: url("../../media/icons/logout_hover.svg")
        }
    }

    .logout_icon {
        background: none;
        background-image: url("../../media/icons/logout.svg");
        background-repeat: no-repeat;

    }
}

main {
    .form-container {
        border: 3px solild var(--dark-blue);
        box-shadow: 0px 0px 10px var(--vivid-blue);

        form {
            input[type=text],
            input[type=password],
            input[type=submit] {
                border-color: var(--dark-blue);
                box-shadow: 0px 0px 6px var(--vivid-blue);
            }
        }
    }
}

