.admin_nav {
    .li_space {
        flex-basis: 20%;
    }

    .return_icon,
    .logout_icon {
        img {
            opacity: 0 !important;
        }
    }

    .return_icon {
        background: none;
        background-image: url("../../media/icons/return.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    a:hover {
        color: var(--dark-blue) !important;
        .return_icon {
            background-image: url("../../media/icons/return_hover.svg");
        }

        .logout_icon {
            background-image: url("../../media/icons/logout_hover.svg")
        }
    }

    .logout_icon {
        background: none;
        background-image: url("../../media/icons/logout.svg");
        background-repeat: no-repeat;

    }
}

main {
    .form-container {
        max-height: 458px;
        max-width:525px;
        border: 3px solid var(--dark-blue);
        box-shadow: 0px 0px 10px var(--vivid-blue);

        form {
            input[type=text],
            input[type=password],
            input[type=submit],
            textarea {
                border-color: var(--dark-blue) !important;
                box-shadow: 0px 0px 5px var(--vivid-blue) !important;

                &:focus {
                    box-shadow: 0px 0px 5px 2px var(--vivid-blue) !important;
                    outline: none;
                }
            }

            input[type=text],
            input[type=password] {
                padding-block: 0.5em;
                padding-inline: 1em;
            }

            input[type=submit] {
                padding-block: 0.25em;
                padding-inline: 1.5em;

                &:hover,
                &:focus {
                    background-color: var(--dark-blue) !important;
                    box-shadow: 0px 0px 5px var(--vivid-blue !important);
                }
            }
        }
    }
}

footer {
    #copyright {
        padding-bottom: 15px;
    }
}
