:root {
    --bg-color: #020402;
    --grey: #9d9d9d;
    --white: #ffffff;
    --dark-blue: #0058b9;
    --vivid-blue: #017aff;
    --dark-pink: #8e0089;
    --vivid-pink: #f500ed;
}


// Ajustement de l'accordéon

.accordion {

    .accordion-button,
    .accordion-button:not(.collapsed) {
        background-color: transparent;
        padding: 0 0 0 20px;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-button::after {
        background: none;
        content: "-";
        color: var(--dark-blue);
        transform: none;
        display: inline-block;
        font-family: "ethnocentric", sans-serif;
        font-size: 1.5rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
    }

    .collapsed.accordion-button::after {
        content: "+";
    }
}


// Espacement des infos dans les "listes"
.first_name,
.last_name {
    width: 250px !important;
}

.article_title {
    width: 700px;
}


// Btn/lien (modifier, supprimer et etc.)
a.edit {
    color: var(--dark-blue);

    &:hover {
        color: var(--vivid-blue) !important;
    }
}

a.delete {
    color: var(--dark-pink);

    &:hover {
        color: var(--vivid-pink) !important;
    }
}


// Autres
.user_block {
    opacity: 0.5;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}