nav {

    .li_space {
        flex-basis: 20%;
    }

    .return_icon,
    .logout_icon {
        img {
            opacity: 0 !important;
        }
    }

    .return_icon {
        background: none;
        background-image: url("../media/return.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    a:hover {
        color: var(--dark-blue) !important;
        .return_icon {
            background-image: url("../media/return_hover.svg");
        }

        .logout_icon {
            background-image: url("../media/logout_hover.svg")
        }
    }

    .logout_icon {
        background: none;
        background-image: url("../media/logout.svg");
        background-repeat: no-repeat;

    }
}

