:root {
    --color: var(--dark-blue);
    --color-hover: var(--vivid-blue);
}

.user_icon:hover,
.user_icon:focus {
    background-image: url("../../media/icons/user_icon_blue.svg");
}

.user_icon_connected {
    background-image: url("../../media/icons/user_icon_blue_connected.svg") !important;
}

.user_icon_connected:hover,
.user_icon_connected:focus {
    background-image: url("../../media/icons/user_icon_blue_connected_hover.svg") !important;
}

// .button,
// .category_button {

// }

.category_button {
    background-color: var(--bg-color);
    border-color: var(--color-hover) !important;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--color-hover) !important;
    color: var(--white);
    font-family: "ocr-b-std", monospace;
    flex-shrink: 1;
    font-size: 1.375rem !important;
    text-align: start;
    padding-block: 0.5em !important;
    padding-inline: 1em !important;

    &:hover {
        background-color: var(--color-hover);
        color: var(--white) !important;
    }
}

.container {
    section {
        padding-top: 8rem;
        margin-bottom: 5rem;

        h2 {
            padding-inline: 1.25rem;
        }

        .article_preview {
            border-radius: 0px;
        }

        .article_preview:first-of-type {
            border-radius: 10px 10px 0px 0px !important;
        }

        .article_preview:last-of-type {
            border-radius: 0px 0px 10px 10px !important;
        }

    }

    .mobile_frame {
        border: 2px solid var(--color);
        margin-bottom: 6rem;
        margin-inline: 20px;

        &:hover {
            border-bottom: 2px solid var(--color-hover);
            border-top: 2px solid var(--color-hover);
        }
    }

    .pill_box {
        width: auto;

        .category_tag {
            background-color: var(--color);
            border-radius: 10px;
            flex-shrink: 1;
            opacity: 0.5;
            padding-block: 0.25em;
            padding-inline: 0.75em;
            white-space: nowrap;
        }
    }

    .date {
        color: var(--grey);
    }

    .hr {
        border-bottom: 1px solid var(--grey);
    }
}

#article {
    .breadcrumb_trail {
        span {
            font-size: 0.75rem;

            a {
                font-size: 0.75rem;
                font-weight: 300 !important;
            }
        }

        .current_article {
            color: var(--grey);
        }
    }

    .content {
        padding-top: 10rem;
        max-width: calc(800px + 1.5rem * 2);

        h3 {
            margin-bottom: 5rem;
        }
    }

    .suggestions {
        margin-top: 12rem;

        .sub_title {
            margin-inline: 20px;
        }

        .article_suggestion {
            border-radius: 0px;
            margin-bottom: 4rem;

            div {
                .hr {
                    border-bottom: 1px solid var(--grey);
                }
            }
        }

        .article_suggestion:first-of-type {
            border-radius: 10px 10px 0px 0px !important;
        }

        .article_suggestion:last-of-type {
            border-radius: 0px 0px 10px 10px !important;
        }
    }
}

// MEDIA QUERIES
@media only screen and (min-width: 1400px) {
    #article {
        .suggestions {
            .article_suggestion {
                flex-shrink: 0;
                max-width: 400px;
                padding-inline: 1.5rem !important;
                border-radius: 10px;
                &:first-of-type,
                &:last-of-type {
                    border-radius: 10px !important;
                }
            }

        }
    }
}

@media only screen and (min-width: 1320px) {
    .category_selector {
        display: flex;
        flex-direction: row !important;
        gap: 3rem;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 992px) {
    .breadcrumb_trail {
        span {
            font-size: 0.85rem !important;

            a {
                font-size: 0.938rem !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    main {
        section {
            .category_button {
            white-space: nowrap !important;
            }

            .category_tag {
                background-color: var(--color);
                border-radius: 10px;
                flex-shrink: 1;
                opacity: 0.5;
                padding-block: 0.5em;
                padding-inline: 1em;
            }

            .date {
                color: var(--grey);
            }

            .hr {
                border-bottom: 1px solid var(--grey);
            }

            // .general_button {
            //     width: auto;
            // }
        }
    }

    #article {
        .suggestions {
            margin-top: 15rem;
            width: 75%;
        }
    }
}

@media only screen and (min-width: 576px) {
    .mobile_frame {
        border: 2px solid var(--color);
        margin-bottom: 3rem !important;

        &:hover {
            border-block: 2px solid var(--color-hover);
        }
    }
}

@media only screen and (max-width: 500px) {
    .category_button {
        white-space: pre-wrap !important;
    }
}
