:root {
  --color: var(--dark-blue);
  --color-hover: var(--vivid-blue);
}

.user_icon:hover,
.user_icon:focus {
  background-image: url("../../media/icons/user_icon_blue.svg");
}

.user_icon_connected {
  background-image: url("../../media/icons/user_icon_blue_connected.svg") !important;
}

.user_icon_connected:hover,
.user_icon_connected:focus {
  background-image: url("../../media/icons/user_icon_blue_connected_hover.svg") !important;
}

.button, .category_button {
  font-family: "ocr-b-std", monospace;
  font-size: 1.375rem !important;
  text-align: start;
}

.button {
  background-color: var(--bg-color);
  border-color: var(--color-hover) !important;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--color-hover) !important;
  color: var(--white);
  flex-shrink: 1;
  padding-block: 0.5em !important;
  padding-inline: 1em !important;
}
.button:hover {
  background-color: var(--color-hover);
  color: var(--white) !important;
}

.container section {
  margin-block: 8rem;
}
.container section h2 {
  padding-inline: 1.25rem;
}
.container section .article_preview {
  border-radius: 0px;
}
.container section .article_preview:first-of-type {
  border-radius: 10px 10px 0px 0px !important;
}
.container section .article_preview:last-of-type {
  border-radius: 0px 0px 10px 10px !important;
}
.container .mobile_frame {
  border-block: 2px solid var(--color);
  margin-bottom: 6rem;
  margin-inline: 20px;
}
.container .mobile_frame:hover {
  border-bottom: 2px solid var(--color-hover);
  border-top: 2px solid var(--color-hover);
}
.container .pill_box {
  width: -moz-max-content;
  width: max-content;
}
.container .pill_box .category_tag {
  background-color: var(--color);
  border-radius: 10px;
  flex-shrink: 1;
  opacity: 0.5;
  padding-block: 0.25em;
  padding-inline: 0.75em;
  white-space: nowrap;
}
.container .date {
  color: var(--grey);
}
.container .hr {
  border-bottom: 1px solid var(--grey);
}

#article .breadcrumb_trail span {
  font-size: 0.75rem;
}
#article .breadcrumb_trail span a {
  font-size: 0.75rem;
  font-weight: 300 !important;
}
#article .breadcrumb_trail .current_article {
  color: var(--grey);
}
#article .content {
  padding-top: 10rem;
  max-width: calc(800px + 3rem);
}
#article .content h3 {
  margin-bottom: 5rem;
}
#article .suggestions {
  margin-top: 12rem;
}
#article .suggestions .sub_title {
  margin-inline: 20px;
}
#article .suggestions .article_suggestion div .hr {
  border-bottom: 1px solid var(--grey);
}

@media only screen and (min-width: 1400px) {
  #article .article_suggestion {
    flex-shrink: 0;
    max-width: 400px;
    padding-inline: 1.5rem !important;
  }
}
@media only screen and (min-width: 1320px) {
  .category_selector {
    display: flex;
    flex-direction: row !important;
    gap: 3rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .breadcrumb_trail span {
    font-size: 0.85rem !important;
  }
  .breadcrumb_trail span a {
    font-size: 0.938rem !important;
  }
}
@media only screen and (min-width: 768px) {
  main section .category_button {
    white-space: nowrap !important;
  }
  main section .category_tag {
    background-color: var(--color);
    border-radius: 10px;
    flex-shrink: 1;
    opacity: 0.5;
    padding-block: 0.5em;
    padding-inline: 1em;
  }
  main section .date {
    color: var(--grey);
  }
  main section .hr {
    border-bottom: 1px solid var(--grey);
  }
  main section p {
    max-width: 800px;
  }
  main section .general_button {
    width: -moz-max-content !important;
    width: max-content !important;
  }
  #article .suggestions {
    margin-top: 15rem;
  }
}
@media only screen and (min-width: 576px) {
  .mobile_frame {
    border: 2px solid var(--color);
    margin-bottom: 3rem !important;
  }
  .mobile_frame:hover {
    border-block: 2px solid var(--color-hover);
  }
}
@media only screen and (max-width: 500px) {
  .category_button {
    white-space: pre-wrap !important;
  }
}/*# sourceMappingURL=articles.css.map */