:root {
  --color: var(--dark-pink);
  --color-hover: var(--vivid-pink);
  --viewport-width: calc(100vw - (100vw - 100%));
  --50vw: calc((100vw - (100vw - 100%)) / 2);
}

.user_icon:hover,
.user_icon:focus {
  background-image: url("../../media/icons/user_icon_pink.svg");
}

.user_icon_connected {
  background-image: url("../../media/icons/user_icon_pink_connected.svg") !important;
}

.user_icon_connected:hover,
.user_icon_connected:focus {
  background-image: url("../../media/icons/user_icon_pink_connected_hover.svg") !important;
}

header nav .nav_logo {
  animation: test_mobile 4s 2s ease-in forwards;
  left: 50%;
  top: 50vh;
  transform: translate(-50%) scale(1.5);
}
@keyframes test_mobile {
  0% {
    top: 50vh;
    left: 50%;
    transform: translate(-50%) scale(1.5);
  }
  100% {
    top: 35px;
    left: 20px;
    transform: translate(0%, -50%) scale(1);
  }
}

#intro_header {
  height: 100vh;
  padding-block: 0px !important;
}
#intro_header .header_image {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  width: var(--viewport-width);
  height: 100% !important;
  pointer-events: none;
  animation: test3 5s 3s ease-in forwards;
}
@keyframes test3 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#intro_header .container {
  padding-inline: 20px !important;
}
#intro_header .container #festival_date,
#intro_header .container #festival_tagline {
  font-family: "termina", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  letter-spacing: 0.05rem;
  max-width: 96vw;
  position: fixed;
  left: var(--50vw);
  transform: translate(-50%, -50%);
  width: max(40vw, 1100px) !important;
  overflow-wrap: normal !important;
}
#intro_header .container #festival_date {
  top: 32vh;
  animation: test4 4s 3s ease-in forwards;
}
@keyframes test4 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
#intro_header .container #festival_tagline {
  padding-inline: 20px;
  top: 85vh;
  z-index: 1032;
  animation: test5 5s 3s ease-in forwards;
}
@keyframes test5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#interactive_text {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 292.5px;
  z-index: 1033;
}
#interactive_text .bottom_line {
  background-color: var(--white);
  height: 2px;
  width: 98%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#interactive_text .line_decoration1 {
  background-color: var(--grey);
  height: 2px;
  width: 103.45%;
  top: 0px;
  left: 0px;
  position: absolute;
}
#interactive_text .line_decoration1 .circle {
  background-color: var(--white);
  border-radius: 50%;
  height: 12px;
  margin-left: 6px;
  width: 12px;
  position: absolute;
  left: 0%;
  transform: translate(-50%, -50%);
}
#interactive_text .line_decoration2 {
  background-color: var(--grey);
  height: 108%;
  width: 2px !important;
  position: absolute;
  top: 0px;
  left: 103.45%;
}
#interactive_text .line_decoration2 .arrow_down {
  position: absolute;
  bottom: -25px;
  left: -8.55px;
}
#interactive_text .span_1,
#interactive_text .span_2,
#interactive_text .span_3 {
  font-size: clamp(1rem, 2.25vw, 4rem) !important;
  margin-bottom: clamp(0.75rem, 5vh, 2.25rem);
  white-space: nowrap;
  padding-left: clamp(3rem, 2vw, 5rem);
}
#interactive_text .span_3 {
  border-left: 2px solid var(--white);
  padding-left: 3rem;
}

main p {
  max-width: none;
}
main #about p,
main #packages p,
main #activities p,
main #tech_talks p {
  max-width: 800px !important;
}
main section {
  padding-block: 360px !important;
}
main #scroll_down,
main #byte-side_CTA {
  padding-inline: 20px;
}
main #scroll_down .grey_effect,
main #scroll_down .rainbow_effect,
main #byte-side_CTA .grey_effect,
main #byte-side_CTA .rainbow_effect {
  animation: gradient_effect 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
@keyframes gradient_effect {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
main #scroll_down .grey_effect,
main #byte-side_CTA .grey_effect {
  background-image: linear-gradient(to left, var(--white), var(--grey), var(--white));
}
main #scroll_down .rainbow_effect,
main #byte-side_CTA .rainbow_effect {
  background-image: linear-gradient(to right, var(--color-hover), var(--vivid-blue), var(--color-hover));
}
main #keywords .container span {
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 400;
  letter-spacing: 0.2rem;
}
main #keywords .container .dark_pink,
main #keywords .container .dark_blue,
main #keywords .container .white {
  animation: gradient_effect 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  white-space: nowrap;
}
@keyframes gradient_effect {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
main #keywords .container .dark_pink {
  background-image: linear-gradient(to right, var(--dark-pink), var(--vivid-pink), var(--dark-pink));
  font-weight: 500;
}
main #keywords .container .white {
  background-image: linear-gradient(to right, var(--white), var(--grey), var(--white));
}
main #keywords .container .dark_blue {
  background-image: linear-gradient(to right, var(--dark-blue), var(--vivid-blue), var(--dark-blue));
  font-weight: 500;
}
main #scroll_down p,
main #scroll_down span {
  line-height: normal;
  font-size: clamp(1rem, 4vw, 5rem) !important;
  white-space: nowrap;
}
main #scroll_down p span,
main #scroll_down span span {
  font-weight: 400;
}
main #scroll_down p.grey_effect {
  font-size: clamp(1.4rem, 6vw, 8rem) !important;
  font-weight: 500;
}
main #scroll_down p.rainbow_effect {
  font-size: clamp(2rem, 15vw, 15rem) !important;
  font-weight: 600;
}
main #byte-side_CTA div p {
  line-height: normal !important;
  font-size: clamp(1rem, 6vw, 8rem) !important;
  font-weight: 500;
}
main #immerse_text .glow_effect {
  animation: glow 5s ease infinite alternate;
  font-family: "ethnocentric", sans-serif;
  font-size: clamp(1rem, 4vw, 5rem) !important;
  letter-spacing: 0.05rem;
  line-height: normal !important;
  white-space: nowrap;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px var(--white), 0 0 20px var(--var-color), 0 0 30px var(--color);
  }
  to {
    text-shadow: 0 0 5px var(--white), 0 0 30px var(--color-hover), 0 0 40px var(--color-hover);
  }
}

@media only screen and (min-width: 768px) {
  header nav .nav_center-space {
    display: flex;
    justify-content: center;
    width: 2.75vw;
    animation: center_space 5s 3s ease-in forwards;
  }
  @keyframes center_space {
    0% {
      width: 2.75vw;
    }
    100% {
      width: 100%;
    }
  }
  header nav .nav_logo {
    animation: test1 4s 2s ease-in forwards;
    position: relative;
    top: 50vh;
    left: 0;
    transform: scale(2);
  }
  @keyframes test1 {
    0% {
      position: relative;
      top: 50vh;
      transform: scale(2);
    }
    100% {
      top: 0;
      transform: scale(1);
    }
  }
  #interactive_text {
    position: fixed;
    left: 7.45% !important;
    width: calc(100vw - (100vw - 100%) - 40vw - 9.45%);
    transform: translateX(0%);
  }
  #interactive_text .line_decoration1 .circle {
    height: 15px;
    margin-left: 7.5px;
    width: 15px;
  }
  #interactive_text .span_1,
  #interactive_text .span_2,
  #interactive_text .span_3 {
    padding-left: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  #interactive_text {
    position: fixed;
    left: 7.45% !important;
    width: calc(100vw - (100vw - 100%) - 50vw - 9.45%);
  }
}
@media only screen and (min-width: 1200px) {
  #interactive_text .span_3 {
    padding-left: clamp(4rem, 9.5vw + 3rem, 185px + 3rem);
  }
}/*# sourceMappingURL=homepage.css.map */