:root {
    --color: var(--dark-pink);
    --color-hover: var(--vivid-pink);
    --viewport-width: calc(100vw - (100vw - 100%));
    --50vw: calc((100vw - (100vw - 100%)) / 2);
}

.user_icon:hover,
.user_icon:focus {
    background-image: url("../../media/icons/user_icon_pink.svg");
}

.user_icon_connected {
    background-image: url("../../media/icons/user_icon_pink_connected.svg") !important;
}

.user_icon_connected:hover,
.user_icon_connected:focus {
    background-image: url("../../media/icons/user_icon_pink_connected_hover.svg") !important;
}

header {
    nav {
        .nav_logo {
            animation: test_mobile 4s 2s ease-in forwards;
            position: relative;
            top: 50vh;

            transform: scale(1.5);
        }

        @keyframes test_mobile {
            0% {
                position: relative;
                top: 50vh;
                transform: scale(1.5);
            }

            100% {
                position: relative;
                top: 1rem;
                left: 20px;
                transform: scale(1);
            }
        }
    }
}

#intro_header {
    height: 100vh;
    padding-block: 0px !important;

    .header_image {
        position: fixed;
        object-fit: cover;
        opacity: 0.5;
        width: var(--viewport-width);
        height: 100% !important;
        pointer-events: none;

        // *************************************************
        animation: test3 5s 3s ease-in forwards;

        @keyframes test3 {
            0% {
                opacity: 0.5;
            }
            100% {
                opacity: 0;
            }
        }
        //*************************************************
    }

    .container {
        padding-inline: 20px !important;

        #festival_date,
        #festival_tagline {
            font-family: "termina", sans-serif;
            font-size: clamp(1rem, 2vw, 2rem);
            font-weight: 400;
            letter-spacing: 0.05rem;
            max-width: calc(100vw - 4vw);
            position: fixed;
                left: var(--50vw);
            transform: translate(-50%, -50%);
            width: max(40vw, 1100px) !important;
            overflow-wrap: normal !important;
        }

        #festival_date {
            top: 32vh;

            // *************************************************
            animation: test4 4s 3s ease-in forwards;

            @keyframes test4 {
                0% {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
                100% {
                    opacity: 0;
                    transform: translate(-50%, -50%) scale(0);
                }
            }
            // *************************************************
        }

        #festival_tagline {
            top: 85vh;

            // *************************************************
            animation: test5 5s 3s ease-in forwards;

            @keyframes test5 {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }

    #interactive_text {
        max-width: 15% !important;
    }
}


main {
    p {
        max-width: none;
    }

    #about,
    #packages,
    #activities,
    #tech_talks {
        p {
            max-width: 800px !important;
        }
    }

    section {
        padding-block: 540px !important;
    }

    #keywords {
        .container {
            span {
                font-weight: 400;
                letter-spacing: 0.2rem;
            }

            .dark_pink{
                color: var(--dark-pink) !important;
                font-weight: 500;
            }

            .dark_blue {
                color: var(--dark-blue) !important;
                font-weight: 500;
            }
        }
    }
}


@media only screen and (min-width: 1400px) {
    .nav_center-space {
        width: 2.75vw;
        animation: center_space 5s 3s ease-in forwards;
    }

    @keyframes center_space {
        0% {
            width: 2.75vw;
        }

        100% {
            width: 100%;
        }
    }

    .nav_logo {
        animation: test1 4s 2s ease-in forwards;
        position: relative;
        top: 50vh;
        transform: scale(2);
    }

    @keyframes test1 {
        0% {
            position: relative;
            top: 50vh;
            transform: scale(2);
        }

        100% {
            top: 1rem;
            transform: scale(1);
        }
    }
}
