:root {
    --color: var(--dark-pink);
    --color-hover: var(--vivid-pink);
    --viewport-width: calc(100vw - (100vw - 100%));
    --50vw: calc((100vw - (100vw - 100%)) / 2);
}

.user_icon:hover,
.user_icon:focus {
    background-image: url("../../media/icons/user_icon_pink.svg");
}

.user_icon_connected {
    background-image: url("../../media/icons/user_icon_pink_connected.svg") !important;
}

.user_icon_connected:hover,
.user_icon_connected:focus {
    background-image: url("../../media/icons/user_icon_pink_connected_hover.svg") !important;
}

header {
    nav {
        .nav_logo {
            animation: test_mobile 4s 2s ease-in forwards;
            left: 50%;
            top: 50vh;
            transform: translate(-50%) scale(1.2);
        }

        @keyframes test_mobile {
            0% {
                left: 50%;
                top: 50vh;
                transform: translate(-50%) scale(1.2);
            }

            100% {
                left: 20px;
                top: 35px;
                transform: translate(0%, -50%) scale(1);
            }
        }
    }
}

main {

    #scroll_bar {
        background: var(--white);
        height: 75vh;
        width: 2px;
        margin-bottom: -2px;
        position: fixed;
        left: 20px;
        top: 50vh;
        transform: translateY(-50%);
        z-index: 5;


        .scroll_indicator {
            background: var(--white);
            border-radius: 50%;
            height: 16px;
            width: 16px;
            position: relative;
            left: - calc(16px / 2) + 1;
            top: 0%;
        }
    }

    #intro_header {
        height: 100vh;
        padding-block: 0px !important;

        .header_image {
            pointer-events: none;
            position: fixed;
            object-fit: cover;
            opacity: 0.5;
            height: 100% !important;
            width: var(--viewport-width);

            // *************************************************
            animation: test3 5s 3s ease-in forwards;

            @keyframes test3 {
                0% {
                    opacity: 0.5;
                }
                100% {
                    opacity: 0;
                }
            }
            //*************************************************
        }

        .container {
            padding-inline: 20px !important;

            #festival_date,
            #festival_tagline {
                font-family: "termina", sans-serif;
                font-size: clamp(1rem, 2vw, 2rem);
                font-weight: 400;
                letter-spacing: 0.05rem;
                max-width: calc(100vw - 4vw);
                overflow-wrap: normal !important;
                position: fixed;
                left: var(--50vw);
                transform: translate(-50%, -50%);
                width: max(40vw, 1100px) !important;
            }

            #festival_date {
                top: 32vh;

                // *************************************************
                animation: test4 4s 3s ease-in forwards;

                @keyframes test4 {
                    0% {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                    100% {
                        opacity: 0;
                        transform: translate(-50%, -50%) scale(0);
                    }
                }
                // *************************************************
            }

            #festival_tagline {
                padding-inline: 20px;
                top: 85vh;
                z-index: 1032;
                // *************************************************
                animation: test5 5s 3s ease-in forwards;

                @keyframes test5 {
                    0% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
    }

    #intro_main {
        height: 13750px !important;
        padding-bottom: 13250px;
        overflow: hidden;

        #robot_carousel {
            height: clamp(40vh, 50vh, 60vh);
            position: relative;


            .animate_img {
                max-height: 40vh;
                opacity: 0;
                position: fixed;
                left: 100vw;
                top: 30%;
                transform: translate(-50%, -50%);
            }

            @keyframes robot_carousel {

                0% {
                    left: 100vw;
                    opacity: 0;
                    transform: translate(-50%, -50%) rotateZ(0deg) scale(0.4) rotateZ(0deg);
                    // animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
                 }
                //  25% {
                //     left: 75vw;
                //     opacity: 0.5;
                //     transform: translate(-50%, -50%) rotateZ(72deg) scale(1)rotateZ(-72deg);
                //     animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
                //  }
                 50% {
                    left: 50vw;
                    opacity: 1;
                    transform: translate(-50%, -50%) rotateZ(180deg) scale(1) rotateZ(-180deg);
                    // animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
                 }
                //  75% {
                //     left: 25vw;
                //     opacity: 0.5;
                //     transform: translate(-50%, -50%) rotateZ(288deg) scale(0.4) rotateZ(-288deg);
                //     animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
                //  }
                 100% {
                    left: 0vw;
                    opacity: 0;
                    transform: translate(-50%, -50%) rotateZ(360deg) scale(0.4) rotateZ(-360deg);
                    // animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
                 }
            }
        }

        #interactive_text {
            position: fixed;
            bottom: 10%;
            left: 50%;
            opacity: 1;
            transition: opacity 0.5s ease-out;
            transform: translateX(-50%);
            width: 292.5px;
            z-index: 1033;

            .bottom_line {
                background-color: var(--white);
                height: 2px;
                width: 98%;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }

            .line_decoration1 {
                background-color: var(--white);
                height: 2px;
                width: 0%;
                position: absolute;
                left: 0px;
                top: 0px;

                .circle {
                    background-color: var(--white);
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                    margin-left: calc(12px / 2);
                    position: absolute;
                    left: 0%;
                    transform: translate(-50%, -50%);
                }
            }

            .line_decoration2 {
                background-color: var(--white);
                height: 0%;
                max-height: 108%;
                width: 2px !important;
                position: absolute;
                left: 103.45%;
                top: 0px;

                .arrow_down {
                    position: absolute;
                    bottom: -25px;
                    left: 1px;
                    transform: translateX(-50%);

                    @keyframes arrow_down {
                        0% {
                            position: absolute;
                            bottom: -25px;
                        }
                        100% {
                            position: absolute;
                            bottom: -50px;
                        }

                    }
                }
            }

            .span_1,
            .span_2,
            .span_3 {
                font-size: clamp(1rem, 2.25vw, 4rem) !important;
                padding-left: clamp(3rem, 2vw, 5rem);
                margin-bottom: clamp(0.75rem, 5vh, 2.25rem);
                white-space: nowrap;
            }

            .span_3 {
                border-left: 2px solid var(--white);
                padding-left: 3rem;
            }
        }
    }

    p {
        max-width: none;
    }

    section:not(#intro_main, #intro_header) {
        padding-block: 360px !important;
    }

    #about,
    #packages,
    #activities,
    #tech_talks {
        padding-inline: 20px;

        p {
            max-width: 800px !important;
        }

        .button_space {
            width: 100%;
        }
    }


    #experience_divider,
    #interact_divider,
    #discover_divider {
        padding-inline: 20px;
        position: relative;

        .divider_img {
            border-radius: 10px;
            position: relative;
            height: 320px;
            width: 320px;
            z-index: 2;
        }

        .first_line,
        .second_line {
            background-color: var(--color);
            box-shadow: 0px 0px 5px var(--color-hover);
            height: 3px;
            position: relative;
            z-index: 3;
        }

        span {
            font-weight: 500;
            line-height: normal !important;
        }
    }

    #interact_divider {
        --color: var(--dark-turquoise);
        --color-hover: var(--vivid-turquoise);

        .cyber_name {
            font-family: "ethnocentric", sans-serif;
            font-size: 1.9rem;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0.05rem;
        }
    }

    #discover_divider {
        --color: var(--dark-blue);
        --color-hover: var(--vivid-blue);
        position: relative;

        .robot_img {
            position: relative;
            bottom: -12px;
            left: -19px;
            width: 285px;
        }
    }

    #scroll_down,
    #byte-side_CTA {
        padding-inline: 20px;

        .grey_effect,
        .rainbow_effect {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            animation: gradient_effect 3s linear infinite;
            background-size: 200%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;

            @keyframes gradient_effect {
                from {
                    background-position: 0% center;
                }
                to {
                    background-position: -200% center;
                }
            }
        }

        .grey_effect {
            background-image: linear-gradient(to left, var(--white), var(--grey), var(--white));
        }

        .rainbow_effect {
            background-image: linear-gradient(to right, var(--color-hover), var(--vivid-blue), var(--color-hover));
        }
    }

    #keywords {
        .container {
            span {
                font-size: clamp(1rem, 2vw, 4rem);
                font-weight: 400;
                letter-spacing: 0.2rem;
                line-height: normal;
            }

            .dark_pink,
            .dark_blue,
            .white {
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                animation: gradient_effect 3s linear infinite;
                background-size: 200%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent !important;
                white-space: nowrap;

                @keyframes gradient_effect {
                    from {
                        background-position: 0% center;
                    }
                    to {
                        background-position: -200% center;
                    }
                }
            }

            .dark_pink{
                background-image: linear-gradient(to right, var(--dark-pink), var(--vivid-pink), var(--dark-pink));
                font-weight: 500;
            }

            .white {
                background-image: linear-gradient(to right, var(--white), var(--grey), var(--white));
            }

            .dark_blue {
                background-image: linear-gradient(to right, var(--dark-blue), var(--vivid-blue), var(--dark-blue));
                font-weight: 500;
            }
        }
    }

    #scroll_down {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        margin: auto;
        transition: transform 0.2s ease-in;

        p,
        span {
            line-height: normal;
            font-size: clamp(1rem, 4vw, 5rem) !important;
            white-space: nowrap;

            span {
                font-weight : 400;
            }
        }

        p.grey_effect {
            font-size: clamp(1.4rem, 6vw, 8rem) !important;
            font-weight: 500;
        }

        p.rainbow_effect {
            font-size: clamp(2rem, 15vw, 15rem) !important;
            font-weight: 600;
        }

    }

    #byte-side_CTA {
        div {
            p {
                line-height: normal !important;
                font-size: clamp(1rem, 6vw, 8rem) !important;
                font-weight: 500;
            }
        }
    }

    #immerse_text {
        .glow_effect {
            animation: glow 5s ease infinite alternate;
            font-family: "ethnocentric", sans-serif;
            font-size: clamp(1rem, 4vw, 5rem) !important;
            letter-spacing: 0.05rem;
            line-height: normal !important;
            white-space: nowrap;

            @keyframes glow {
                from {
                    text-shadow: 0 0 5px var(--white), 0 0 20px var(--var-color), 0 0 30px var(--color)
                }

                to {
                    text-shadow: 0 0 5px var(--white), 0 0 30px var(--color-hover), 0 0 40px var(--color-hover)
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    #about,
    #packages,
    #activities,
    #tech_talks {
        padding-inline: 60px !important;
    }


    #experience_divider,
    #interact_divider,
    #discover_divider {
        img {
            height: 400px !important;
            width: 400px !important;
        }
    }

    #discover_divider {
        .robot_img {
            height: auto !important;
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        nav {
            .nav_center-space {
                animation: center_space 5s 3s ease-in forwards;
                display: flex;
                justify-content: center;
                width: 2.75vw;
            }

            @keyframes center_space {
                0% {
                    width: 2.75vw;
                }

                100% {
                    width: 100%;
                }
            }

            .nav_logo {
                animation: test1 4s 2s ease-in forwards;
                position: relative;
                left: 0px;
                top: 50vh;
                transform: scale(2);
            }

            @keyframes test1 {
                0% {
                    top: 50vh;
                    transform: scale(2);
                }

                100% {
                    top: 0;
                    transform: scale(1);
                }
            }
        }
    }

    main {
        #intro_main {
            #robot_carousel {
                .animate_img {
                    top: 35%;
                }
            }

            #interactive_text {
                position: fixed;
                left: 7.45% !important;
                width: calc((100vw - (100vw - 100%) - 40vw) - 9.45%);
                transform: translateX(0%);

                .line_decoration1 {
                    .circle {
                        height: 15px;
                        width: 15px;
                        margin-left: calc(15px / 2);
                    }
                }

                .span_1,
                .span_2,
                .span_3 {
                    padding-left: 3rem;
                }
            }
        }

        #about,
        #packages,
        #activities,
        #tech_talks {
            .button_space {
                width: auto;
            }
        }

        #experience_divider,
        #interact_divider,
        #discover_divider {
            height: 444.79px;
            padding-bottom: 760px !important;
            padding-inline: 0px !important;
            padding-top: 360px !important;

            .divider_img {
                border-radius: 0px;
                height: 444.79px !important;
                width: 444.79px !important;
                position: absolute;
                z-index: 2 !important;
            }



            .first_line,
            .second_line {
                background-color: var(--color);
                box-shadow: 0px 0px 5px var(--color-hover);
                height: 3px;
            }

            span {
                font-size: clamp(1rem, 2.55vw, 3.125rem);
                font-weight: 500;
                line-height: normal !important;
            }
        }

        #experience_divider {
            transform: skewY(-5deg);

            .divider_img {
                clip-path: polygon(0% 9%, 100% 0%, 100% 91%, 0% 100%);
                transform: skewY(5deg);
            }

            .divider_block {
                height: 400px;

                .divider_text {
                    padding-bottom: 3em;
                    padding-left: 464.79px;
                    padding-right: 20px;
                    transform: skewY(5deg);
                }
            }
        }

        #interact_divider {
            --color: var(--dark-turquoise);
            --color-hover: var(--vivid-turquoise);
            transform: skewY(5deg);

            .divider_img {
                clip-path: polygon(0% 0%, 100% 9%, 100% 100%, 0% 91%);
                transform: skewY(-5deg);
            }

            .divider_block {
                height: 400px;

                .divider_text {
                    padding-bottom: 3em;
                    padding-left: 40px;
                    padding-right: 464.79px;
                    transform: skewY(-5deg);
                }
            }

            .cyber_name {
                font-family: "ethnocentric", sans-serif;
                font-size: clamp(1.5rem, 4vw, 3.5rem);
                font-style: italic;
                font-weight: 400;
                letter-spacing: 0.05rem;
                position: relative;
                left: 0vw;
            }
        }

        #discover_divider {
            --color: var(--dark-blue);
            --color-hover: var(--vivid-blue);
            position: relative;
            transform: skewY(-5deg);

            .first_line {
                position: relative;
                top: 74.17px;
                z-index: 1;
            }

            .robot_img {
                clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 0% 98%);
                height: auto !important;
                position: relative;
                bottom: -28px;
                left: 80px;
                transform: skewY(5deg);
                z-index: 2;
            }

            .divider_text {
                padding-top: 3em;
                transform: skewY(5deg);
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    main {
        #intro_main {
            #interactive_text {
                position: fixed;
                left: 7.45% !important;
                width: calc((100vw - (100vw - 100%) - 50vw) - 9.45%);
            }
        }

        #interact_divider {
            --color: var(--dark-turquoise);
            --color-hover: var(--vivid-turquoise);
            transform: skewY(5deg);

            .divider_img {
                clip-path: polygon(0% 0%, 100% 9%, 100% 100%, 0% 91%);
                transform: skewY(-5deg);
            }

            .divider_block {
                height: 400px;

                .divider_text {
                    padding-left: 20px;
                    padding-right: 464.79px;
                }
            }

            .cyber_name {
                position: relative;
                left: 4vw;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    main {
        #intro_main {
            #interactive_text {
                .span_3 {
                    padding-left: clamp(1rem + 3rem, 9.5vw + 3rem, 185px + 3rem);
                }
            }
        }
    }
}




