@import "style.css";


// HEADER ----------

header,
footer {
    a:hover {
        color: var(--dark-pink);
    }
}

header {
    .active {
        color: var(--dark-pink);
    }

    .logo:hover {
        color: var(--vivid-pink);
    }

    nav > ul,
    nav > div {
        flex-basis: 25%;
    }

    .user_btn {
        position: relative;
            top: 10px;

        .user_name {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            color: var(--dark-pink) !important;
        }
    }

    button,
    .user_icon,
    .user_icon_connected {
        background: none;
        border: none;
        padding: 0;

        &:hover,
        &:focus {
            color: var(--dark-pink);
        }
    }

    .user_icon {
        background: none;
        background-image: url("../media/user_icon.svg");
        border: none;
        padding: 0;

        &:hover,
        &:focus {
                background-image: url("../media/user_icon_pink.svg");
        }

        img {
            opacity: 0;
        }
    }

    .user_icon_connected {
        background: none;
        background-image: url("../media/user_icon_pink_connected.svg");
        border: none;
        padding: 0;

        img {
            opacity: 0;
        }

        &:hover,
        &:focus {
            background-image: url("../media/user_icon_pink_connected_hover.svg");
        }
    }

    .dropdown-menu {
        background-color: var(--bg-color);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0px 0px 10px 10px;

        .dropdown-item {
            color: var(--white);

            &:hover {
                background-color: var(--bg-color);
                color: var(--dark-pink);
            }
        }

        hr {
            background-color: var(--white) !important;
            height: 2px;
            opacity: 0.5;
        }
    }

    .dropdown-right {
        border-radius: 10px 0px 10px 10px !important;
    }
}


// MAIN ----------

main {
    padding-top: 112px;
    padding-bottom: 100vh;
}


// FOOTER ----------

footer {
    height: 100vh;

    .wrapper {
        margin-top: 112px;
        max-width: 100%;
        overflow: hidden;
      }

      .marquee {
        animation: marquee 20s linear infinite;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;

        @keyframes marquee {
            0% {
                transform: translate3d(-50%, 0, 0);
            }
            100% {
                transform: translate3d(0, 0, 0);
            }
        }

        span {
            letter-spacing: 0.2rem;
            font-weight: 300;

            .dark_pink {
                color: var(--dark-pink);
                font-weight: 500;
            }

            .dark_blue {
                color: var(--dark-blue);
                font-weight: 500;
            }
        }
    }

    .social_media_icons {

        margin-block: 20vh;

        img {
            max-height: 35px;
        }
    }
}


// MEDIA QUERIES ----------

@media only screen and (min-width: 2738px) {
    nav {
        .user_btn {
            .dropdown-right {
                border-radius: 0px 10px 10px 10px !important;
                text-align: start !important;
            }
        }
    }
}

@media only screen and (min-width: 1700px) {
    nav {
        padding-inline: 5vw;

        .nav_center-logo{
            padding-inline: 2vw;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .nav_burger,
    .nav_lg {
        display: none;
    }

    .nav_lg_side {
        display: none;
    }
}

@media only screen and (max-width: 1399px) {
    .nav_burger,
    .nav_xxl {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        height: 100px;

        .user_btn {
            position: relative;
                top: 4px;
        }
    }

    main {
        padding-top: 100px;
    }

    footer {
        .wrapper {
            margin-top: 100px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .nav_center-logo {

        .title_reflection {

            line-height: 75%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .nav_lg_side {
        flex-basis: 20%;
    }

    #footer_nav {
        margin-bottom: 25vh;
    }
}

@media only screen and (max-width: 768px) {
    .nav_lg,
    .user_btn {
        display: none;
    }

    nav {
        padding-inline: 1rem;
        padding-top: 1rem;
        height: 70px;

        ul:first-child {
            display: flex;
            justify-content:flex-start !important;
        }

        .nav_center-logo {
            position: absolute;
                top: 35px;
            transform: translateY(-50%);

            .logo {
                padding-inline: 0;

                .title,
                .title_reflection {
                    font-size: clamp(1.25rem, 3vw, 3rem);
                    letter-spacing: clamp(0.15rem, 0.25rem,0.375rem);
                }

                .title {
                    line-height: 55%;
                    position: relative;
                        top: 10px;
                }

                .title_reflection {
                    transform: scale(1, -1);
                    line-height: 75%;
                }

                .festival {
                    font-size: clamp(1rem, 1.6vw, 1.5rem);
                    font-weight: 100;
                    position: relative;
                        top: clamp(0.25em, 0.75em, 1em);
                }
            }
        }
    }

    main {
        padding-top: 70px;
    }

    footer {
        .wrapper {
            margin-top: 70px;
        }

        .social_media_icons {
            margin-block: 15vh;
        }
    }
}

@media only screen and (min-height: 768px) {
    #footer_nav {
        padding-bottom: 15vh;
    }

    #copyright {
        position: absolute;
            bottom: 25px;
            left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (max-height: 767px) {
    #footer_nav {
        padding-bottom: 5vh;
    }

    #copyright {
        display: none;
    }

    .copyright {
        display: block !important;
        padding-top: 1.5rem;
    }
}

// Height: 767px (with width: 767px or less than)
// -  Copyright trio glitch
//
// Width: 767px
// -  Header nav should be no longer be in menu burger format
// -  Footer nav should be lower in height
//
// Width: 1399px
// -  Header nav should be in the same format as 1398px and less (the change should happen at 1400px)
